body {
    background-color: #e2dede;
}

.nav {
    background-color: #090088;
}

.button{
    border-color: #ffffff;
    background-color: #273ae4;
    color: aliceblue;
}

.button:hover{
    background-color: #0983f5;
    border-color: #0368c7;
    color: aliceblue;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #0417c5;
    font-style: oblique;
     
}

h1{
    font-style: oblique;
    color: rgb(18, 3, 97);
    text-align: center;
}

.text{
    font-style: oblique;
    color: aliceblue;
}

.text:hover{
    background-color:  #090088;
    color: aliceblue;
}


.menu {
    background-color:  #090088;
    color: aliceblue;
}

.modal1{
    background-color:  #0d4692;
    padding: 25px;
    border-radius: 35px;
    max-width: 350px;
    min-width: 250px;
}


