p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #181d44;
    border-bottom: #e2dede;
    font-style: oblique;
}

h5{
    text-align: center;
    color:rgb(0, 0, 15);
    font-style:italic;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    color: rgb(18, 3, 97);
    text-align: center;
}

.title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 35%;
    background-color: #85858a;
    text-align: center;
    padding: 8px 12px;
    border: 3px solid rgb(115, 154, 206);
    border-radius: 15px;
    margin: 0 auto;
}

.title:hover {
    background-color: rgb(10, 37, 71);
    padding: 5px 10px;
    border: 5px solid #f5f83faf;
    color: f5f83faf#;
}
.card1 {
    border-radius: 35px;
    text-align: center;
    padding: 30px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 4);
    transform: translateY(-3%);
}
