<h1 class="title" >PRODUCTOS</h1><br>

<div class="row row-cols-1 row-cols-md-3 g-4 card1">
  <div class="col">
    <div class="card">
      <img src="../../../assets/imagenes/PSL417A.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FILTRO DE ACEITE</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/imagenes/PSC877A.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FILTRO DE COMBUSTIBLE</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/imagenes/AP8529A.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FILTRO DE AIRE</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/imagenes/PSL381A.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FILTRO DE ACEITE</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/imagenes/GU86A.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FILTRO DE COMBUSTIBLE</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="../../../assets/imagenes/ARL5070A.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FILTRO DE AIRE</h5>
      </div>
    </div>
  </div>
</div>
